* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;

}

img {
    height: 30%;
    width: auto;
    
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.nav-link {
    color: white;
}
.content1 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 4rem;

}
.greetings {
    display: inline;
    font-size: 10rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;

}

@media screen and (max-width:600px) {
    .greetings{
        font-size: 5rem;
    }
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 8rem;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.content2+img{
    padding-right: 5rem;
}
.minpic {
    height: 100%;
    width: 100%;

}
.midh1{
    text-align: center;
    align-items: center;
    padding-top: 10%;
}
.Projects h4 {
    text-align: center;  
    color: black;

    
}

.Projects h5 {
    text-align: center;  
    color: silver;
    width: 70%;

    
}


.circle{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    padding: 0%;
   
    margin-bottom: 2rem;

    text-align: center;
    justify-content: center;
    padding-top: 6rem;
}

.circle:hover{
    scale: 1.1;
    border-radius: 0%;
}
.circleContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color:black !important;
    font-style: italic;

}

.Slider {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: whitesmoke;
    padding-top: 3rem;
    padding-bottom: 2rem;
    
}
.footer-item {
    color: black;
}
.contentmid {
    margin-bottom: 2rem;
    background-color: white;
}

.contactspg{
    align-items: center;
    text-align: center;
}